.custom-textarea {
    position: relative;
}

.custom-textarea__field {
    width: 100%;
    height: 114px;
    padding: 25px 0;
    border: none;
    border-bottom: 1px solid #C8C8CA;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #5A5A5A;
    resize: none;
}

.custom-textarea__field::placeholder {
    color: #99999E;
}

.custom-textarea__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14.4px;
    color: #99999E;
}