.form-feadback {
    display: grid;
    gap: 60px;
    padding: 168px 120px 28px;
}

.form-feadback__title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    color: #180000;
}

.form-feadback__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 0;
    border: none;
}

.form-feadback__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 40px;
    border: none;
    padding: 0;
}

.form-feadback__submit {
    display: grid;
    grid-template-columns: auto 200px;
    gap: 15px;
    align-items: center;
}

.form-feadback__button {
    background-color: #3C52E6;
    border: 1px solid transparent;
    padding: 20px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.1px;
    color: #FFFFFF;
    cursor: pointer;
}

.form-feadback__button:disabled {
    opacity: 50%;
    cursor: auto;
}